.App-header {
    background-color: #28336d;
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
  }

.App-header_logo {
    height: 30px;
}

.App-header_search_field {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 10px 0px 5px;
}

.App-header_magnifying_glass {
    height: 15px;
    position:relative;
    top: 3px;
}

.App-header_input {
    height: 15px;
    border: none;
    margin-bottom: 5px;
}

.App-header_input:focus {
    outline: none;
  }
